<div class="cards-container">
<div class="card" routerLink="/dashboard-admin/list-enfants">
  <i class="fa-solid fa-children"></i>
  <h5>Enfants</h5>
  <p>{{nbEnfants}}</p>
</div>
<div class="card" routerLink="/dashboard-admin/list-parents">
  <i class="fa-solid fa-users"></i>
  <h5>Parents</h5>
  <p>{{nbParents}}</p>
</div>
<div class="card" routerLink="/dashboard-admin/list-activites">
  <i class="fa-solid fa-puzzle-piece"></i>
  <h5>Activités</h5>
  <p>{{nbActivites}}</p>
</div>
<div class="card" routerLink="/dashboard-admin/list-aide-educateur">
  <i class="fa-solid fa-chalkboard-user"></i>
  <h5>Aides-Educateurs</h5>
  <p>{{nbAideEduc}}</p>
</div>
</div>
