<div class="container mt-5 m-5">

    <h2>List des Enfants </h2> <button class="btn btn-primary" style="float: right; "
                                       data-bs-toggle="modal" data-bs-target="#myModal"> Ajouter enfant</button>
</div>
<div class="conainer mt-5 mb-5 m-5">
    <table class="table">
        <caption> Liste des enfants </caption>
        <thead>
          <tr>

            <th scope="col">Nom </th>
            <th scope="col">Prenom</th>
            <th scope="col">Age</th>
            <th scope="col">niveau </th>
            <th scope="col">Parent </th>
            <th scope="col">Infos </th>
            <th scope="col"> Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enfant of enfants">
            <td>{{enfant.nom}}</td>
            <td>{{enfant.prenom}}</td>
            <td>{{enfant.age}}</td>
            <td ><span *ngIf="enfant.niveau">{{enfant.niveau.nom}}</span></td>
            <td ><span *ngIf="enfant.parent">{{enfant.parent.prenom+" "+enfant.parent.prenom}}</span></td>
            <td>{{enfant.type}}</td>
            <td>
              <i class="fa-solid fa-trash" (click)="delete(enfant.id)" style="color: brown; width: 20px; font-size:large; margin-right: 30px; cursor: pointer;"></i>
              <i class="fa-solid fa-pen-to-square" style="width: 20px; font-size:large;cursor: pointer;"></i>


            </td>
          </tr>

        </tbody>
      </table>

</div>




<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un enfant</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="container mr-5 mt-5" style="width: 80%;">
        <form [formGroup]="enfantFormGroup">
          <div [hidden]="!formEnfant" >
          <h5>Informations de l'enfant</h5>
          <div class="form-group">
            <label for="nomEnfant">Nom de l'enfant :</label>
            <input type="text" class="form-control" id="nomEnfant"  placeholder="Nom de l'enfant" formControlName="nom">
          </div>
          <div class="form-group">
            <label for="prenomEnfant">Prénom de l'enfant :</label>
            <input type="text" class="form-control" id="prenomEnfant" aria-describedby="emailHelp" placeholder="Prénom de l'enfant " formControlName="prenom">
          </div>
          <div class="form-group">
            <label for="age">Age de l'enfant :</label>
            <input type="number" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Age de l'enfant" formControlName="age">
          </div>



          <div class="form-group">
          <label for="special">Enfant spécial ? </label>
          <select [(ngModel)]="typeEnfant" multiple class="form-select" id="special" [ngModelOptions]="{standalone: true}">
            <option [value]="'ENFANT_AUTISTE'">ENFANT AUTISTE</option>
            <option [value]="'ENFANT_HYPERACTIF'">ENFANT HYPERACTIF</option>
            <option [value]="'ENFANT_SURDOUE'">ENFANT SURDOUE</option>
          </select>
          </div>
          </div>
        </form>
          <form [formGroup]="parentFormGroup" >
            <div [hidden]="formEnfant" >
              <h5>Informations du parent</h5>
            <div class="form-group mt-3">
              <label for="nomParent">Nom du parent :</label>
              <input type="text" class="form-control" id="nomParent"  placeholder="Nom du parent" formControlName="nom">
            </div>

            <div class="form-group mt-3">
              <label for="prenomParent">Prénom du parent :</label>
              <input type="text" class="form-control" id="prenomParent"  placeholder="Prénom du parent" formControlName="prenom">
            </div>


            <div class="form-group mt-3">
              <label for="cne"> Cne de parent :</label>
              <input type="text" class="form-control" id="cne"  placeholder="Cne de parent" formControlName="cne">
            </div>

            <div class="form-group mt-3">
              <label for="email"> Email du parent :</label>
              <input type="email" class="form-control" id="email"  placeholder="Email du parent" formControlName="email">
            </div>

            <div class="form-group mt-3">
              <label for="motDePasse"> Mot de passe du parent :</label>
              <input type="password" class="form-control" id="motDePasse"  placeholder="Mot de passe du parent" formControlName="motDePasse">
            </div>

            <div class="form-group mt-3">
              <label for="tel"> Numero de telephone du parent :</label>
              <input type="text" class="form-control" id="tel"  placeholder="Numero de telephone du parent" formControlName="tel">
            </div>
            </div>
          </form>
        <div class="next-prev">
          <button type="button" [disabled]="formEnfant" style="width: 40%" class="btn btn-light" (click)="formEnfant=true" ><i class="fa-solid fa-backward"></i> Précédent</button>
          <button type="button" [disabled]="!formEnfant" style="width: 40%" class="btn btn-light" (click)="formEnfant=false" >Suivant <i class="fa-solid fa-forward"></i></button>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="margin-top: 20px;display: flex;justify-content: center">
        <button type="button" [disabled]="parentFormGroup.status.includes('INVALID')||parentFormGroup.status.includes('INVALID')" class="btn btn-primary"  style="width: 80%" (click)="save()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

