<app-nav-bar-top></app-nav-bar-top>
<div *ngIf="parent" class="container mt-5 m-5" style="display: flex;justify-content: space-between;margin-bottom: 0px!important;">

  <h2 >Bienvenu {{parent.nom}} {{parent.prenom}} </h2>
  <div>
  <button class="btn btn-light" [disabled]="parent.statutPayement==true"
          data-bs-toggle="modal" data-bs-target="#myModal1"
          style="float: right;width: 200px; background: aliceblue" routerLink="/add-parent"> <i class="fa-brands fa-paypal"></i> Paypal</button>
  <button class="btn btn-light" [disabled]="parent.statutPayement==true"
          data-bs-toggle="modal" data-bs-target="#myModal2"
          style="float: right;width: 200px;margin-right: 10px; background: aliceblue" routerLink="/add-parent">
    <i class="fa-solid fa-credit-card" style="margin-right: 10px"></i >Carte de crédit</button>
  </div>
</div>
<div *ngIf="parent" style="display: flex; justify-content:space-evenly">
  <div class="card ">
    <h4 class="card-title">Informations du parent</h4>
  <p class="champs-parent">Nom : {{parent.nom}}</p>
  <p class="champs-parent">Prenom : {{parent.prenom}}</p>
  <p class="champs-parent">CNE : {{parent.cne}}</p>
  <p class="champs-parent">Email : {{parent.email}}</p>
  <p class="champs-parent">Numero de telephone : {{parent.tel}}</p>
  <p class="champs-parent">Statut de payement :
    <span *ngIf="parent.statutPayement==true" style="color: #0bd000"><i class="fa-solid fa-sack-dollar"></i> <i class="fa-sharp fa-solid fa-check"></i></span>
    <span *ngIf="parent.statutPayement==false" style="color: darkred"><i class="fa-solid fa-sack-dollar"></i> <i class="fa-solid fa-xmark"></i></span>
  </p>
  </div>
  <div *ngIf="enfant" class="card card2">
    <h4 class="card-title">Informations de l'enfant</h4>
    <p class="champs-parent">Nom : {{enfant.nom}}</p>
    <p class="champs-parent">Prenom : {{parent.prenom}}</p>
    <p class="champs-parent">Age : {{enfant.age}}</p>
    <p class="champs-parent" *ngIf="enfant.niveau">Niveau : {{enfant.niveau.nom}}</p>
    <p class="champs-parent">Infos : {{enfant.type}}</p>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un parent</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="container" style="width: 80%;">
        <div class="container mr-5 mt-5">
          <form [formGroup]="paypalFormGroup" >
            <div class="form-group mt-3">
              <label for="identifiant">Identifiant </label>
              <input type="text" class="form-control" id="identifiant"  placeholder="Identifiant" formControlName="identifiant">
            </div>

            <div class="form-group mt-3">
              <label for="password">Mot de passe </label>
              <input type="password" class="form-control" id="password"  placeholder="Mot de passe" formControlName="password">
            </div>
          </form>
        </div>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer" style="margin-top: 20px;display: flex;justify-content: center">
        <button type="button" class="btn btn-primary"  style="width: 80%" (click)="payerParPaypal()" data-bs-dismiss="modal">Payer</button>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Payer par carte de crédit</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="container" style="width: 80%;">
        <div class="container mr-5 mt-5">
          <form [formGroup]="carteDeCreditFormGroup" >
            <div class="form-group mt-3">
              <label for="numeroCarte">Numéro de la carte </label>
              <input type="text" class="form-control" id="numeroCarte"  placeholder="Numéro de la carte" formControlName="numeroCarte">
            </div>

            <div class="form-group mt-3">
              <label for="cryptogramme">Cryptogramme </label>
              <input type="cryptogramme" class="form-control" id="cryptogramme"  placeholder="Cryptogramme" formControlName="cryptogramme">
            </div>


          </form>
        </div>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer" style="margin-top: 20px;display: flex;justify-content: center">
        <button type="button" class="btn btn-primary"  style="width: 80%" (click)="payerParCarte()" data-bs-dismiss="modal">Payer</button>
      </div>

    </div>
  </div>
</div>
