<div class="container mt-5 m-5">

    <h2>List des Enfants </h2> <button class="btn btn-primary" style="float: right; "> Ajouter enfant</button>
</div>
<div class="conainer mt-5 mb-5 m-5">
    <table class="table">
        <caption> Liste des enfants </caption>
        <thead>
          <tr>

            <th scope="col">Nom </th>
            <th scope="col">Prenom</th>
            <th scope="col">Cne</th>
            <th scope="col">Email </th>
            <th scope="col"> Action </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parent of parents">
            <td>{{parent.nom}}</td>
            <td>{{parent.prenom}}</td>
            <td>{{parent.cne}}</td>
            <td>{{parent.email}}</td>
            <td>
                <button class="btn btn-danger"> delete</button>
                <button class="btn btn-dark m-1"> edit</button>
                <button class="btn btn-dark m-1"> Parent</button>
            </td>
          </tr>

        </tbody>
      </table>

</div>

